* {
    box-sizing: border-box;
    margin: 0, auto;
}

.body {
    background-color: lightblue;
}

.container {

}

.gallery_list {
    width: 44%;
    float: left;
}

.photo_block {
    width: 56%;
    float: right;
    display: flex;
    flex-wrap: wrap;
}

.album-item {
    text-decoration: none;
    padding-left: 10px;
    cursor: pointer;
}

.album-item:hover {
    text-decoration: underline;
    color: red;
}